.header__nav-container {
	cursor: pointer;
	letter-spacing: 4.981px;
	font-family: "Futura New";
	font-weight: 700;
    width: 100%;
    display: flex;
    gap: 51px;
}

.header__nav-item {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Futura New;
    font-size: 24.904px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 4.981px;
    text-transform: uppercase;
}

.active-header__nav-item {
	position: relative;
	bottom: 16px;

	text-decoration: underline;
	letter-spacing: 4.981px;

	font-size: 15px;
	font-weight: 100;

	text-underline-offset: 18px;
}

.active-header__nav-item::before {
	position: absolute;
	bottom: 0;
	left: 32%;

	width: 50%;
	height: 1px;

	content: "";
	
	border-bottom: 1px;
}


.header {
    display: flex;
    align-items: center;
    gap: 200px;
}