.wine-view__container {
	max-width: 860px;
	width: 100%;
	height: 674px;
	flex-shrink: 0;
	background: var(--primary);
	border-radius: 15px;
	bottom: 636px;
	display: flex;
	justify-content: flex-end;
	margin-top: 150px;
}

.wine-view__content {
	max-width: 764px;
	height: 561px;
	width: 100%;

}

.wine-view__separator {
	background-color: var(--gold);
	width: 6px;
	height: 87%;
	margin-right: 7%;
	margin-top: 10.3%;
}

.wine-view__title {
	color: var(--gold);
	max-width: 700px;
	height: 80px;
	font-family: Futura New;
	font-size: 45px;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	letter-spacing: 2.25px;
	text-transform: uppercase;
	margin-top: 60px;
	margin-bottom: 40px;
}

.wine-view__title-2 {
	color: var(--gold);
	font-family: Futura New;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.wine__value-style {
	border-bottom: solid 1px var(--gold);
	border-top: 6px;
	color: #A0AEAF;
	font-family: Futura New;
	font-size: 22px;
	font-style: normal;
	font-weight: 300;
	line-height: 100%;
	display: flex;
	height: auto;
	margin-top: 9px;
	padding-bottom: 7.8px;
}

.wine-view__label {
	color: var(--gold);
}

.wine-view__section-1-container {
	display: flex;
}

.wine-view__section-container {
	display: flex;
	margin-top: 20px;
}

#wine-view__section-2 {
	margin: 0 40px 0 40px;
}

#wine__type-value {
	width: 360.814px;
}

#wine-view__type-label {
	width: 330.215px;
}

#wine__strength-value {
	width: 160.184px;
}

#wine__volume-value {
	width: 160.184px;
}

#wine__region-value {
	width: 360.814px;
}

#wine__manufacter-value {
	width: 360.814px;
}

#wine__grape-value {
	width: 762.621px;
}

#wine__additionally-value {
	width: 762.621px;
	border-bottom: none;
}

.wine-view__btn {
	display: flex;
	width: 275px;
	height: 40px;
	padding: 8px 16px;
	justify-content: center;
	align-items: center;
	gap: 4px;
	flex-shrink: 0;
	cursor: pointer;
	background-color: transparent;
	border-radius: 10px;
	border: 1px solid var(--gray);
	color: var(--gray);
	margin-bottom: 46px;
	margin-top: 9px;
	font-size: 20px;
}

.manufacter__container {
	margin-left: 40px;
}

#wine__idealFor-value {
	width: 762.621px;
}


/* 1536x864 */
@media (width <=1536px) {
	.wine-view__container {
		max-width: 605px;
		width: 100%;
		height: 579px;
		flex-shrink: 0;
		background: var(--primary);
		border-radius: 15px;
		bottom: 636px;
		display: flex;
		justify-content: flex-end;
		margin-top: 32px;
	}

	.wine-view__content {
		max-width: 764px;
		height: 561px;
		width: 100%;
		margin-right: -75px;

	}

	.wine-view__separator {
		background-color: var(--gold);
		width: 6px;
		height: 89.2%;
		margin-right: 7%;
		margin-top: 10.3%;
	}

	.wine-view__title {
		color: var(--gold);
		max-width: 650px;
		height: 80px;
		font-family: Futura New;
		font-size: 34px;
		font-style: normal;
		font-weight: 400;
		line-height: 110%;
		letter-spacing: 2.25px;
		text-transform: uppercase;
		margin-top: 25px;
		margin-bottom: 10px;
	}

	.wine-view__title-2 {
		color: var(--gold);
		font-family: Futura New;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 110%;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 40px;
	}

	.wine__value-style {
		border-bottom: solid 1px var(--gold);
		border-top: 6px;
		color: #A0AEAF;
		font-family: Futura New;
		font-size: 19px;
		font-style: normal;
		font-weight: 300;
		line-height: 100%;
		display: flex;
		height: auto;
		margin-top: 9px;
		padding-bottom: 7.8px;
	}

	.wine-view__label {
		color: var(--gold);
	}

	.wine-view__section-1-container {
		display: flex;
	}

	.wine-view__section-container {
		display: flex;
		margin-top: 20px;
	}

	#wine-view__section-2 {
		margin: 0 40px 0 40px;
	}

	#wine__type-value {
		width: 240px;
	}

	#wine-view__type-label {
		width: 330.215px;
	}

	#wine__strength-value {
		width: 105px;
	}

	#wine__volume-value {
		width: 105px;
	}

	#wine__region-value {
		width: 245px;
	}

	#wine__manufacter-value {
		width: 245px;
	}

	#wine__grape-value {
		width: 530px;
	}

	#wine__additionally-value {
		width: 762.621px;
		border-bottom: none;
	}

	.wine-view__btn {
		display: flex;
		width: 275px;
		height: 40px;
		padding: 8px 16px;
		justify-content: center;
		align-items: center;
		gap: 4px;
		flex-shrink: 0;
		cursor: pointer;
		background-color: transparent;
		border-radius: 10px;
		border: 1px solid var(--gray);
		color: var(--gray);
		margin-bottom: 46px;
		margin-top: 9px;
		font-size: 20px;
	}

	.manufacter__container {
		margin-left: 40px;
	}

	#wine__idealFor-value {
		width: 530px;
		padding: 0 54px 11px 0px;

	}
}


/* 1366x768 */
@media (width <=1367px) {
	.wine-view__container {
		max-width: 565px;
		width: 100%;
		height: 552px;
		flex-shrink: 0;
		background: var(--primary);
		border-radius: 15px;
		bottom: 636px;
		display: flex;
		justify-content: flex-end;
		margin-top: 32px;
	}

	.wine-view__content {
		max-width: 764px;
		height: 561px;
		width: 100%;
		margin-right: -75px;

	}

	.wine-view__separator {
		background-color: var(--gold);
		width: 6px;
		height: 89.2%;
		margin-right: 7%;
		margin-top: 10.3%;
	}

	.wine-view__title {
		color: var(--gold);
		max-width: 650px;
		height: 80px;
		font-family: Futura New;
		font-size: 27px;
		font-style: normal;
		font-weight: 400;
		line-height: 110%;
		letter-spacing: 2.25px;
		text-transform: uppercase;
		margin-top: 25px;
		margin-bottom: 10px;
	}

	.wine-view__title-2 {
		color: var(--gold);
		font-family: Futura New;
		font-size: 17px;
		font-style: normal;
		font-weight: 400;
		line-height: 110%;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 40px;
	}

	.wine__value-style {
		border-bottom: solid 1px var(--gold);
		border-top: 6px;
		color: #A0AEAF;
		font-family: Futura New;
		font-size: 17px;
		font-style: normal;
		font-weight: 300;
		line-height: 100%;
		display: flex;
		height: auto;
		margin-top: 9px;
		padding-bottom: 7.8px;
	}

	.wine-view__label {
		color: var(--gold);
	}

	.wine-view__section-1-container {
		display: flex;
	}

	.wine-view__section-container {
		display: flex;
		margin-top: 20px;
	}

	#wine-view__section-2 {
		margin: 0 40px 0 40px;
	}

	#wine__type-value {
		width: 223px;
	}

	#wine-view__type-label {
		width: 330.215px;
	}

	#wine__strength-value {
		width: 94px;
	}

	#wine__volume-value {
		width: 94px;
	}

	#wine__region-value {
		width: 223px;
	}

	#wine__manufacter-value {
		width: 228px;
	}

	#wine__grape-value {
		width: 490px;
	}

	#wine__additionally-value {
		width: 762.621px;
		border-bottom: none;
	}

	.wine-view__btn {
		display: flex;
		width: 275px;
		height: 40px;
		padding: 8px 16px;
		justify-content: center;
		align-items: center;
		gap: 4px;
		flex-shrink: 0;
		cursor: pointer;
		background-color: transparent;
		border-radius: 10px;
		border: 1px solid var(--gray);
		color: var(--gray);
		margin-bottom: 46px;
		margin-top: 9px;
		font-size: 18px;
	}

	.manufacter__container {
		margin-left: 40px;
	}

	#wine__idealFor-value {
		width: 490px;
		padding: 0 52px 11px 0px;
		font-size: 15px;

	}
}


/* 1280x720 */
@media (width <=1280px) {
	.wine-view__container {
		max-width: 565px;
		width: 100%;
		height: 492px;
		flex-shrink: 0;
		background: var(--primary);
		border-radius: 15px;
		bottom: 636px;
		display: flex;
		justify-content: flex-end;
		margin-top: 32px;
	}

	.wine-view__content {
		max-width: 764px;
		height: 561px;
		width: 100%;
		margin-right: -75px;

	}

	.wine-view__separator {
		background-color: var(--gold);
		width: 4px;
		height: 88.2%;
		margin-right: 7%;
		margin-top: 10.3%;
	}

	.wine-view__title {
		color: var(--gold);
		max-width: 650px;
		height: 80px;
		font-family: Futura New;
		font-size: 23px;
		font-style: normal;
		font-weight: 400;
		line-height: 110%;
		letter-spacing: 2.25px;
		text-transform: uppercase;
		margin-top: 25px;
		margin-bottom: -35px;
	}

	.wine-view__title-2 {
		color: var(--gold);
		font-family: Futura New;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 110%;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 40px;
	}

	.wine__value-style {
		border-bottom: solid 1px var(--gold);
		border-top: 6px;
		color: #A0AEAF;
		font-family: Futura New;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 100%;
		display: flex;
		height: auto;
		margin-top: 9px;
		padding-bottom: 7.8px;
	}

	.wine-view__label {
		color: var(--gold);
	}

	.wine-view__section-1-container {
		display: flex;
	}

	.wine-view__section-container {
		display: flex;
		margin-top: 20px;
	}

	#wine-view__section-2 {
		margin: 0 40px 0 40px;
	}

	#wine__type-value {
		width: 223px;
	}

	#wine-view__type-label {
		width: 330.215px;
	}

	#wine__strength-value {
		width: 94px;
	}

	#wine__volume-value {
		width: 94px;
	}

	#wine__region-value {
		width: 223px;
	}

	#wine__manufacter-value {
		width: 228px;
	}

	#wine__grape-value {
		width: 490px;
	}

	#wine__additionally-value {
		width: 762.621px;
		border-bottom: none;
	}

	.wine-view__btn {
		display: flex;
		width: 218px;
		height: 35px;
		padding: 8px 16px;
		justify-content: center;
		align-items: center;
		gap: 4px;
		flex-shrink: 0;
		cursor: pointer;
		background-color: transparent;
		border-radius: 10px;
		border: 1px solid var(--gray);
		color: var(--gray);
		margin-bottom: 46px;
		margin-top: 9px;
		font-size: 15px;
	}

	.manufacter__container {
		margin-left: 40px;
	}

	#wine__idealFor-value {
		width: 490px;
		padding: 0 52px 11px 0px;
		font-size: 12px;

	}
}