.about-view__container {
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 97px;
    gap: 51px;
}

.about-view__card {
    width: 500px;
    height: 833px;
    display: flex;
    flex-direction: column;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

#about-view__first-card>h1 {
    display: flex;
    flex-direction: column;
    color: #FFF;
    text-align: center;
    font-family: Futura New;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 2.25px;
    text-transform: uppercase;
    padding-top: 61px;
}

#about-view__first-card>h1>span {
    color: #FFF;
    font-family: Futura New;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 2.25px;
    text-transform: uppercase;
}

#about-view__first-card>p {
    padding: 214px 52px 60px 52px;
    color: #FFF;
    text-align: center;
    font-family: Futura New;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 1.1px;
}

#about-view__first-card>button {
    margin: 0 0 265px 0;
    display: flex;
    width: 395px;
    height: 60px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #FFF;

    color: #F6F6F6;
    text-align: center;
    font-family: Futura New;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1.25px;
    background-color: transparent;
}


#about-view__second-card>h1 {
    display: flex;
    flex-direction: column;
    color: #FFF;
    text-align: center;
    font-family: Futura New;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 2.25px;
    text-transform: uppercase;
    padding-top: 61px;
}

#about-view__second-card>h1>span {
    color: #FFF;
    font-family: Futura New;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 2.25px;
    text-transform: uppercase;
}

#about-view__second-card>p {
    padding: 72px 60px 80px 60px;

    color: #FFF;
    text-align: center;
    font-family: Futura New;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 1.1px;
}


#about-view__third-card>h1 {
    color: #FFF;
    text-align: center;
    font-family: Futura New;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 2.25px;
    text-transform: uppercase;
    padding-top: 61px;
}

#about-view__third-card>h1>span {
    color: #FFF;
    font-family: Futura New;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 1.75px;
    text-transform: uppercase;


}

.about-view__card-metals {
    padding: 202px 0 60px 0px;
}

#about-view__third-card>p {
    color: #FFF;
    text-align: center;
    font-family: Futura New;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 1.1px;
    width: 380px;
    padding-bottom: 220px;
}

@media(width <=1620px) {

    .about-view__card {
        width: 410px;
        height: 660px;
        display: flex;
        flex-direction: column;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 17px;
    }


    #about-view__first-card>h1 {
        display: flex;
        flex-direction: column;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 84px;
    }

    #about-view__first-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 35px;
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
    }

    #about-view__first-card>p {
        padding: 81px 40px 38px 40px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
    }

    #about-view__first-card>button {
        margin: 0 0 265px 0;
        display: flex;
        width: 336px;
        height: 55px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
        border-radius: 15px;
        border: 2px solid #FFF;
        color: #F6F6F6;
        text-align: center;
        font-family: Futura New;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 1.25px;
        background-color: rgb(105 78 37 / 0%);
    }


    #about-view__second-card>h1 {
        display: flex;
        flex-direction: column;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 0px;
    }


    #about-view__second-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 35px;
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
    }


    #about-view__second-card>p {
        padding: 0px 40px 0px 40px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
    }


    #about-view__third-card>h1 {
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 35px;
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 0px;
    }

    #about-view__third-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 1.75px;
        text-transform: uppercase;


    }

    .about-view__card-metals {
        width: 500px;
        padding: 105px 40px 15px 40px;
    }

    #about-view__third-card>p {
        padding: 0px 40px 160px 40px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
        width: 380px;
    }

}


/* 1536x864 */
@media(width <=1536px) {

    .about-view__card {
        width: 377px;
        height: 583px;
        display: flex;
        flex-direction: column;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 17px;
    }


    #about-view__first-card>h1 {
        display: flex;
        flex-direction: column;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 84px;
    }

    #about-view__first-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 28px;
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
    }

    #about-view__first-card>p {
        padding: 175px 30px 38px 30px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
    }

    #about-view__first-card>button {
        margin: 0 0 180px 0;
        display: flex;
        width: 315px;
        height: 55px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
        border-radius: 15px;
        border: 2px solid #FFF;
        color: #F6F6F6;
        text-align: center;
        font-family: Futura New;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 1.25px;
        background-color: rgb(105 78 37 / 0%);
    }


    #about-view__second-card>h1 {
        display: flex;
        flex-direction: column;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 0px;
    }


    #about-view__second-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 28px;
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
    }


    #about-view__second-card>p {
        padding: 30px 30px 0px 30px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
    }


    #about-view__third-card>h1 {
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 28px;
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 0px;
    }

    #about-view__third-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 1.75px;
        text-transform: uppercase;


    }

    .about-view__card-metals {
        width: 459px;
        padding: 150px 30px 15px 30px;
    }

    #about-view__third-card>p {
        padding: 0px 30px 124px 30px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
        width: 380px;
    }

}

@media(width <=1366px) {

    .about-view__card {
        width: 360px;
        height: 660px;
        display: flex;
        flex-direction: column;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 17px;
    }


    #about-view__first-card>h1 {
        display: flex;
        flex-direction: column;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 84px;
    }

    #about-view__first-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 30px;
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
    }

    #about-view__first-card>p {
        padding: 81px 40px 38px 40px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
    }

    #about-view__first-card>button {
        margin: 0 0 265px 0;
        display: flex;
        width: 297px;
        height: 49px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
        border-radius: 15px;
        border: 2px solid #FFF;
        color: #F6F6F6;
        text-align: center;
        font-family: Futura New;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 1.25px;
        background-color: rgb(105 78 37 / 0%);
    }


    #about-view__second-card>h1 {
        display: flex;
        flex-direction: column;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 0px;
    }


    #about-view__second-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 30px;
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
    }


    #about-view__second-card>p {
        padding: 0px 40px 0px 40px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
    }


    #about-view__third-card>h1 {
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 30px;
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 0px;
    }

    #about-view__third-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 1.75px;
        text-transform: uppercase;


    }

    .about-view__card-metals {
        width: 450px;
        padding: 150px 40px 15px 40px;
    }

    #about-view__third-card>p {
        padding: 0px 40px 160px 40px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
        width: 380px;
    }

}

/* 1280х760 */
@media(width <=1280px) {

    .about-view__card {
        width: 336px;
        height: 547px;
        display: flex;
        flex-direction: column;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 17px;
    }


    #about-view__first-card>h1 {
        display: flex;
        flex-direction: column;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 84px;
    }

    #about-view__first-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 25px;
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
    }

    #about-view__first-card>p {
        padding: 130px 40px 38px 40px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
    }

    #about-view__first-card>button {
        margin: 0 0 182px 0;
        display: flex;
        width: 297px;
        height: 49px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
        border-radius: 15px;
        border: 2px solid #FFF;
        color: #F6F6F6;
        text-align: center;
        font-family: Futura New;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 1.25px;
        background-color: rgb(105 78 37 / 0%);
    }


    #about-view__second-card>h1 {
        display: flex;
        flex-direction: column;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 0px;
    }


    #about-view__second-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 25px;
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
    }


    #about-view__second-card>p {
        padding: 0px 40px 0px 40px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
    }


    #about-view__third-card>h1 {
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 25px;
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 0px;
    }

    #about-view__third-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 1.75px;
        text-transform: uppercase;


    }

    .about-view__card-metals {
        width: 407px;
        padding: 154px 40px 15px 40px;
    }

    #about-view__third-card>p {
        padding: 0px 40px 73px 40px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
        width: 380px;
    }

}


@media(width <=1050px) {
    .about-view__card {
        width: 270px;
        height: 465px;
        display: flex;
        flex-direction: column;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 17px;
    }


    #about-view__first-card>h1 {
        display: flex;
        flex-direction: column;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 66px;
    }

    #about-view__first-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 23px;
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
    }

    #about-view__first-card>p {
        padding: 81px 20px 20px 20px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
    }

    #about-view__first-card>button {
        margin: 0 0 196px 0;
        display: flex;
        width: 200px;
        height: 36px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
        border-radius: 15px;
        border: 2px solid #FFF;
        color: #F6F6F6;
        text-align: center;
        font-family: Futura New;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 1.25px;
        background-color: rgb(105 78 37 / 0%);
    }


    #about-view__second-card>h1 {
        display: flex;
        flex-direction: column;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 0px;
    }


    #about-view__second-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 23px;
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
    }


    #about-view__second-card>p {
        padding: 0px 20px 0px 20px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
    }


    #about-view__third-card>h1 {
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 23px;
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 0px;
    }

    #about-view__third-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 1.75px;
        text-transform: uppercase;


    }

    .about-view__card-metals {
        width: 345px;
        padding: 65px 40px 15px 40px;
    }

    #about-view__third-card>p {
        padding: 0px 20px 115px 20px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
        width: 216px;
    }

    .about-view__container {
        width: 100%;
        /* height: 100%; */
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 97px;
        gap: 35px;
    }
}

@media(width <=876px) {
    .about-view__card {
        width: 220px;
        height: 425px;
        display: flex;
        flex-direction: column;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 17px;
    }


    #about-view__first-card>h1 {
        display: flex;
        flex-direction: column;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 66px;
    }

    #about-view__first-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
    }

    #about-view__first-card>p {
        padding: 81px 20px 20px 20px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
    }

    #about-view__first-card>button {
        margin: 0 0 196px 0;
        display: flex;
        width: 177px;
        height: 31px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
        border-radius: 15px;
        border: 2px solid #FFF;
        color: #F6F6F6;
        text-align: center;
        font-family: Futura New;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 1.25px;
        background-color: rgb(105 78 37 / 0%);
    }


    #about-view__second-card>h1 {
        display: flex;
        flex-direction: column;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 0px;
    }


    #about-view__second-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
    }


    #about-view__second-card>p {
        padding: 0px 20px 0px 20px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
    }


    #about-view__third-card>h1 {
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding-top: 0px;
    }

    #about-view__third-card>h1>span {
        color: #FFF;
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 1.75px;
        text-transform: uppercase;


    }

    .about-view__card-metals {
        width: 306px;
        padding: 88px 40px 15px 40px;
    }

    #about-view__third-card>p {
        padding: 0px 20px 115px 20px;
        color: #FFF;
        text-align: center;
        font-family: Futura New;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1.1px;
        width: 216px;
    }

    .about-view__container {
        width: 100%;
        /* height: 100%; */
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 97px;
        gap: 35px;
    }
}

@media (width <=715px) {
    .about-view__container {
        flex-direction: column;
        overflow: auto;
    }

    .about-view__card {
        width: 382px;
        height: 833px;
    }

    #about-view__first-card>h1 {
        font-size: 45px;
        padding-top: 0;
    }

    #about-view__first-card>h1>span {
        font-size: 45px;
    }

    #about-view__first-card>p {
        font-size: 22px;
        padding: 135px 20px 20px 20px;
    }

    #about-view__first-card>button {
        font-size: 25px;
        width: 356px;
        height: 54px;
        margin: 60px 22.5px 265px 22.5px;
    }

    #about-view__second-card>p {
        font-size: 22px;
        padding-top: 30px;
    }

    #about-view__second-card>h1 {
        font-size: 45px;
    }

    #about-view__second-card>h1>span {
        font-size: 45px;
        font-weight: 700;
    }

    #about-view__third-card>h1 {
        font-size: 45px;
    }

    #about-view__third-card>h1>span {
        font-size: 45px;
    }
}