.header-logo {
	z-index: 0;

	width: 435px;
	margin-top: 50px;
	margin-left: 55.5px;

	cursor: pointer;
}

@media (width > 2560px) {
	.header-logo {
		width: 435px;
	}
}

@media (width > 1940px) {
	.header-logo {
		width: 435px;
	}
}