.header-logo {
	z-index: 1;

	width: 435px;
	margin-top: 30px;
	margin-left: 45px;

	cursor: pointer;
}

@media (width <=740px) {
	.header-logo {
		position: relative;
		z-index: 1;
		top: -15px;
		left: 5%;

		display: block;

		width: 317.77px;
	}
}

@media (width > 2560px) {
	.header-logo {
		width: 435px;
	}
}

@media (width > 1940px) {
	.header-logo {
		width: 435px;
	}
}