.picture-view__main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.picture-view__card-container {
    width: 647.585px;
    height: 500px;
    flex-shrink: 0;

    padding: 150px 0 730px 0;
}

.picture-view__img {
    width: 647.585px;
    height: 500px;
    flex-shrink: 0;
    background: lightgray 50% / cover no-repeat;
}

.picture-view__img.clicked {
    width: 180px;
    height: 400px;
    box-shadow: 0 0 50px 5px #91793a;
    transition: width 0.5s ease, height 0.5s ease, box-shadow 0.5s ease;
}

.picture-view__card-container.clicked img.picture-view__img {
    width: 580px;
    height: 695.479px;
}

.picture-view__card-container.clicked .picture-view__container-info {
    display: block;
    flex-direction: column;
    width: 800px;
    height: 600px;
    flex-shrink: 0;
}

.picture-view__container-info {
    display: none;
}

.picture-view__card-container.clicked {
    display: flex;
    width: 860px;
    height: 1380px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    padding: 52px 140px 0 140px;
    margin-top: 110px;
    border-radius: 15px 15px 0px 0px;
    background: var(--green-dark, #002024);
}

.picture-view__container-info>h1 {
    flex-shrink: 0;
    color: var(--Gold, #91793A);
    font-family: Futura New;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 2.25px;
    text-transform: uppercase;

    padding: 61px 201px 54px 66px;
}

.picture-view__person-container {
    padding: 42px 0 30px 60px;
    display: flex;
}

.picture-view__person-name-container {
    display: flex;
    flex-direction: column;
}

.picture-view__person-avatar {
    padding-right: 30px;
}

.picture-view__person-name {
    color: var(--White, #FFF);
    font-family: Futura New;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.6px;
}

.picture-view__person-social-link {
    color: var(--Gray, #A0AEAF);
    font-family: Futura New;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.1px;
    text-decoration-line: underline;
}

.picture-view__about-person-text {
    overflow: hidden;
    color: var(--Gray, #A0AEAF);
    text-overflow: ellipsis;
    font-family: Futura New;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.1px;

    padding: 30px 64px 0 66px;
    flex-shrink: 0;
}

#about-person-text {
    padding-top: 10px;
}



@media (width <=1620px) {

    .picture-view__img.clicked {
        width: 180px;
        height: 400px;
        box-shadow: 0 0 74px 22px #91793a;
        transition: width 0.5s ease, height 0.5s ease, box-shadow 0.5s ease;
    }

    .picture-view__card-container.clicked {
        display: flex;
        width: 811px;
        height: 1272px;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        padding: 52px 140px 0 140px;
        margin-top: 69px;
        border-radius: 15px 15px 0px 0px;
        background: var(--green-dark, #002024);
    }

    .picture-view__container-info>h1 {
        flex-shrink: 0;
        color: var(--Gold, #91793A);
        font-family: Futura New;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding: 26px 201px 15px 65px;
    }

    .picture-view__person-container {
        padding: 13px 0 12px 60px;
        display: flex;
    }

    .picture-view__card-container.clicked img.picture-view__img {
        width: 562px;
        height: 663.479px;
    }

    .picture-view__person-name {
        color: var(--White, #FFF);
        font-family: Futura New;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1.6px;
    }

    .picture-view__person-social-link {
        color: var(--Gray, #A0AEAF);
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1.1px;
        text-decoration-line: underline;
    }

    .picture-view__about-person-text {
        overflow: hidden;
        color: var(--Gray, #A0AEAF);
        text-overflow: ellipsis;
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1.1px;
        padding: 30px 64px 0 66px;
        flex-shrink: 0;
    }
}


@media (width <=1366px) {

    .picture-view__img {
        width: 634px;
        height: 361px;
        flex-shrink: 0;
        background: lightgray 50% / cover no-repeat;
    }

    .picture-view__img.clicked {
        width: 180px;
        height: 400px;
        box-shadow: 0 0 74px 22px #91793a;
        transition: width 0.5s ease, height 0.5s ease, box-shadow 0.5s ease;
    }

    .picture-view__card-container.clicked {
        display: flex;
        width: 588px;
        height: 867px;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        padding: 52px 140px 0 140px;
        margin-top: 32px;
        border-radius: 15px 15px 0px 0px;
        background: var(--green-dark, #002024);
    }

    .picture-view__container-info>h1 {
        flex-shrink: 0;
        color: var(--Gold, #91793A);
        font-family: Futura New;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding: 21px 87px 9px 24px;
    }

    .picture-view__person-container {
        padding: 13px 0 11px 33px;
        display: flex;
    }

    .picture-view__card-container.clicked img.picture-view__img {
        width: 382px;
        height: 455px;
    }

    .picture-view__person-name {
        color: var(--White, #FFF);
        font-family: Futura New;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1.6px;
    }

    .picture-view__person-social-link {
        color: var(--Gray, #A0AEAF);
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1.1px;
        text-decoration-line: underline;
    }

    .picture-view__about-person-text {
        overflow: hidden;
        color: var(--Gray, #A0AEAF);
        text-overflow: ellipsis;
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1.1px;
        padding: 30px 64px 0 66px;
        flex-shrink: 0;
    }

    .picture-view__card-container.clicked .picture-view__container-info {
        display: block;
        flex-direction: column;
        width: 515px;
        height: 600px;
        flex-shrink: 0;
    }

    .picture-view__card-container {
        width: 647.585px;
        height: 500px;
        flex-shrink: 0;
        padding: 150px 0 730px 7px;
    }
}



/* 1280x720 */
@media (width <=1280px) {

    .picture-view__img {
        width: 346px;
        height: 237px;
        flex-shrink: 0;
        background: lightgray 50% / cover no-repeat;
    }

    .picture-view__img.clicked {
        width: 180px;
        height: 400px;
        box-shadow: 0 0 60px 16px #91793a;
        transition: width 0.5s ease, height 0.5s ease, box-shadow 0.5s ease;
    }

    .picture-view__card-container.clicked {
        display: flex;
        width: 397px;
        height: 850px;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        padding: 52px 140px 0 140px;
        margin-top: 32px;
        border-radius: 15px 15px 0px 0px;
        background: var(--green-dark, #002024);
    }

    .picture-view__container-info>h1 {
        flex-shrink: 0;
        color: var(--Gold, #91793A);
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding: 45px 87px 9px 24px;
    }

    .picture-view__person-container {
        padding: 13px 0 11px 33px;
        display: flex;
    }

    .picture-view__card-container.clicked img.picture-view__img {
        width: 253px;
        height: 300px;
    }

    .picture-view__person-name {
        color: var(--White, #FFF);
        font-family: Futura New;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1.6px;
    }

    .picture-view__person-social-link {
        color: var(--Gray, #A0AEAF);
        font-family: Futura New;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1.1px;
        text-decoration-line: underline;
    }

    .picture-view__about-person-text {
        overflow: hidden;
        color: var(--Gray, #A0AEAF);
        text-overflow: ellipsis;
        font-family: Futura New;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1.1px;
        padding: 30px 64px 0 66px;
        flex-shrink: 0;
    }

    .picture-view__card-container.clicked .picture-view__container-info {
        display: block;
        flex-direction: column;
        width: 370px;
        height: 600px;
        flex-shrink: 0;
    }

    .picture-view__card-container {
        width: 352px;
        height: 500px;
        flex-shrink: 0;
        padding: 118px 0 730px 7px;
    }
}


@media (width <=1050px) {

    .picture-view__img {
        width: 480px;
        height: 280px;
        flex-shrink: 0;
        background: lightgray 50% / cover no-repeat;
    }

    .picture-view__img.clicked {
        width: 180px;
        height: 400px;
        box-shadow: 0 0 43px 18px #91793a;
        transition: width 0.5s ease, height 0.5s ease, box-shadow 0.5s ease;
    }

    .picture-view__card-container.clicked {
        display: flex;
        width: 497px;
        height: 900px;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        padding: 38px 140px 0 140px;
        margin-top: 32px;
        border-radius: 15px 15px 0px 0px;
        background: var(--green-dark, #002024);
    }

    .picture-view__container-info>h1 {
        flex-shrink: 0;
        color: var(--Gold, #91793A);
        font-family: Futura New;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding: 21px 87px 9px 24px;
    }

    .picture-view__person-container {
        padding: 13px 0 11px 33px;
        display: flex;
    }

    .picture-view__card-container.clicked img.picture-view__img {
        width: 328px;
        height: 378px;
    }

    .picture-view__person-name {
        color: var(--White, #FFF);
        font-family: Futura New;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1.6px;
    }

    .picture-view__person-social-link {
        color: var(--Gray, #A0AEAF);
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1.1px;
        text-decoration-line: underline;
    }

    .picture-view__about-person-text {
        overflow: hidden;
        color: var(--Gray, #A0AEAF);
        text-overflow: ellipsis;
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1.1px;
        padding: 30px 64px 0 66px;
        flex-shrink: 0;
    }

    .picture-view__card-container.clicked .picture-view__container-info {
        display: block;
        flex-direction: column;
        width: 515px;
        height: 600px;
        flex-shrink: 0;
    }

    .picture-view__card-container {
        width: 478px;
        height: 500px;
        flex-shrink: 0;
        padding: 132px 13px 730px 0px;
    }
}


@media (width <=876px) {

    .picture-view__img {
        width: 480px;
        height: 280px;
        flex-shrink: 0;
        background: lightgray 50% / cover no-repeat;
    }

    .picture-view__img.clicked {
        width: 180px;
        height: 400px;
        box-shadow: 0 0 43px 18px #91793a;
        transition: width 0.5s ease, height 0.5s ease, box-shadow 0.5s ease;
    }

    .picture-view__card-container.clicked {
        display: flex;
        width: 497px;
        height: 900px;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        padding: 38px 140px 0 140px;
        margin-top: 32px;
        border-radius: 15px 15px 0px 0px;
        background: var(--green-dark, #002024);
    }

    .picture-view__container-info>h1 {
        flex-shrink: 0;
        color: var(--Gold, #91793A);
        font-family: Futura New;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        padding: 21px 87px 9px 60px;
    }

    .picture-view__person-container {
        padding: 13px 0 11px 33px;
        display: flex;
    }

    .picture-view__card-container.clicked img.picture-view__img {
        width: 328px;
        height: 378px;
    }

    .picture-view__person-name {
        color: var(--White, #FFF);
        font-family: Futura New;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1.6px;
    }

    .picture-view__person-social-link {
        color: var(--Gray, #A0AEAF);
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1.1px;
        text-decoration-line: underline;
    }

    .picture-view__about-person-text {
        overflow: hidden;
        color: var(--Gray, #A0AEAF);
        text-overflow: ellipsis;
        font-family: Futura New;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1.1px;
        padding: 30px 64px 0 66px;
        flex-shrink: 0;
    }

    .picture-view__card-container.clicked .picture-view__container-info {
        display: block;
        flex-direction: column;
        width: 515px;
        height: 600px;
        flex-shrink: 0;
    }

    .picture-view__card-container {
        width: 478px;
        height: 500px;
        flex-shrink: 0;
        padding: 132px 13px 730px 0px;
    }
}