.dish__list_container {
    display: flex;
    justify-content: center;
    align-items: center;
height: 88vh;
}

.dish__list_items-container {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    height: 77vh;
    justify-content: center;
    align-items: center;
}

.left-plate {
    height: 556px;
    flex-shrink: 0;
}

.right-plate {
    height: 556px;
    flex-shrink: 0;
}

