html,
body {
	margin: 0;
	padding: 0;
	font-family: "Futura New";
	scrollbar-width: none
}

* {
	box-sizing: border-box;
}

:root {
	--primary: #002024;
	--gold: #91793A;
	--gray: #D5D7D2;
	--white: #FFF;
}

::-webkit-scrollbar {
	display: none;
}

.main-background {
	/* position: absolute;
	z-index: -1;
	width: 3500px; */

	background-image: url("/src/assets/main-background.png");
	width: calc((3500 * (100vh - 12.5vh)) / 1100);
	height: calc(100vh - 0vh);
	background-repeat: no-repeat;

}

.gold-background {
	position: absolute;
	z-index: -1;
	height: 100vh;
	width: 100vw;
}

.primary-background {
	position: absolute;
	z-index: -1;
	height: 100vh;
	width: 100vw;
}

.picture-page-background {
	position: absolute;
	z-index: -1;
	height: 136%;
}

.label-title {
	flex-shrink: 0;
	color: var(--Gold, #91793A);
	font-family: Futura New;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

@media (width <=2560px) {

	.gold-background {
		position: absolute;
		z-index: -1;
		width: 100vw;
		height: 100vh;
	}

	.primary-background {
		position: absolute;
		z-index: -1;
		width: 100vw;
		height: 100vh;
	}

	.picture-page-background {
		position: absolute;
		z-index: -1;
		height: 136%;
		width: 100vw;
	}
}


@media (width <=1620px) {
	.gold-background {
		position: absolute;
		z-index: -1;
		height: 108%;
		width: 100vw;
	}
}

@media (width <=1366px) {
	.gold-background {
		position: absolute;
		z-index: -1;
		height: 110%;
		width: 100vw;
		max-height: 110%;
	}
}

@media (width <=1050px) {
	.gold-background {
		position: absolute;
		z-index: -1;
		height: 115%;
		width: 100vw;
		max-height: 115%;
	}
}