html,
body {
	margin: 0;
	padding: 0;

	font-family: "Futura New";
	scrollbar-width: none
		/* Firefox */
}

* {
	box-sizing: border-box;
}

:root {
	--primary: #002024;
	--gold: #91793A;
	--gray: #D5D7D2;
	--white: #FFF;
}

::-webkit-scrollbar {
	display: none;
}

.main-background {
	position: absolute;
	z-index: -1;

}

.gold-background {
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100vw;
}

.primary-background {
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100vw;
}

.picture-page-background {
	position: absolute;
	z-index: -1;
	height: 135%;
}

@media (width <=2560px) {

	.main-background {
		position: absolute;
		z-index: -1;
		height: 104%;
	}

	.gold-background {
		position: absolute;
		z-index: -1;
		max-height: 108%;
		min-width: 100vw;
	}

	.primary-background {
		position: absolute;
		z-index: -1;
		height: 102%;
		width: 100vw;
	}

	.picture-page-background {
		position: absolute;
		z-index: -1;
		height: 135%;
		width: 100vw;
	}
}


@media (width <=1620px) {
	.gold-background {
		position: absolute;
		z-index: -1;
		height: 108%;
		width: 100vw;
	}
}

@media (width <=1366px) {
	.gold-background {
		position: absolute;
		z-index: -1;
		height: 110%;
		width: 100vw;
		max-height: 110%;
	}
}

@media (width <=1280px) {
	.gold-background {
		position: absolute;
		z-index: -1;
		height: 119%;
		width: 100vw;
		max-height: 118%;
	}

	.picture-page-background {
		position: absolute;
		z-index: -1;
		height: 144%;
		width: 100vw;
	}
}

@media (width <=1050px) {
	.gold-background {
		position: absolute;
		z-index: -1;
		height: 115%;
		width: 100vw;
		max-height: 115%;
	}

	.picture-page-background {
		position: absolute;
		z-index: -1;
		height: 140%;
		width: 100vw;
	}
}

@media (width <=876px) {
	.gold-background {
		position: absolute;
		z-index: -1;
		height: 115%;
		width: 100vw;
		max-height: 115%;
	}

	.picture-page-background {
		position: absolute;
		z-index: -1;
		height: 162%;
		width: 100vw;
	}
}