html,
body {
	margin: 0;
	padding: 0;
	font-family: "Futura New";
	scrollbar-width: none
}

* {
	box-sizing: border-box;
}

:root {
	--primary: #002024;
	--gold: #91793A;
	--gray: #D5D7D2;
	--white: #FFF;
}

::-webkit-scrollbar {
	display: none;
}

.main-background {
	background-image: url("/src/assets/main-background.png");
	width: calc((3500 * (100vh - 12.5vh)) / 1100);
	height: 1110px; 
	background-repeat: no-repeat;
}

.gold-background {
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;

	width: 100vw;
}

.primary-background {
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	width: 100vw;
}

.wine-background {
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	width: 100vw;
	height: 1110px;
}

.picture-page-background {
	background-repeat: no-repeat;
	background-size: cover;
	background-size: cover;
	z-index: -1;
	height: 136%;
}

.label-title {
	flex-shrink: 0;
	color: var(--Gold, #91793A);
	font-family: Futura New;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

.container {
	width: 100%;
	max-width: 2560px;
	/* height: 1110px; */
	overflow-y: hidden;
}

.bg {
	width: 3500px;
	height: 1110px;
	background-repeat: no-repeat;
	/* background-image: url("../src/assets//main-background.png"); */
	background-repeat: no-repeat;
}


@media (width <=2560px) {
	.gold-background {
		z-index: -1;
		width: 100vw;

	}

	.primary-background {
		z-index: -1;
		width: 100vw;

	}

	.picture-page-background {
		z-index: -1;
		height: 143%;
		width: 100vw;
	}
}

@media (width <=1620px) {
	.gold-background {
		z-index: -1;

		width: 100vw;
	}
}

@media (width <=1366px) {
	.gold-background {
		z-index: -1;

		width: 100vw;
		max-height: 110%;
	}
}

@media (width <=1280px) {
	.gold-background {
		position: absolute;
		z-index: -1;
		height: 119%;
		width: 100vw;
		max-height: 118%;
	}

	.picture-page-background {
		position: absolute;
		z-index: -1;
		height: 144%;
		width: 100vw;
	}
}

@media (width <=1050px) {
	.gold-background {
		z-index: -1;

		width: 100vw;
		max-height: 115%;
	}

	.picture-page-background {
		position: absolute;
		z-index: -1;
		height: 140%;
		width: 100vw;
	}
}

@media (width <=876px) {
	.gold-background {
		position: absolute;
		z-index: -1;
		height: 115%;
		width: 100vw;
		max-height: 115%;
	}

	.picture-page-background {
		position: absolute;
		z-index: -1;
		height: 162%;
		width: 100vw;
	}
}