.about-view__indicator-container {
  cursor: pointer;
  margin: 63px 0 30px 0;
}

@media (width <=1620px) {
  .about-view__indicator-container {
    cursor: pointer;
    margin: 14px 0 30px 0;
  }
}

@media (width <=876px) {
  .about-view__indicator-container {
    cursor: pointer;
    margin: 14px 0 30px 0;
  }
}